#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#map {
    height: 90%;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
}
#searchField {
    height: 3%;
    width: 10%;
}

#searchButton {
    color: green;
    height: 3%;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
}