body { margin: 0; 
    padding: 0;
    padding-top: 3%;
    background-color: rgb(43, 43, 43);
 }
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
.container{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#map {
    height: 90%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
   
    
}
#searchField {
    height: 3%;
    width: 10%;
    position: fixed;
    top: 7%;
    right: 45%;
}
#searchButton {
    color: black;
    height: 2.5%;
    width: 4%;
    position: fixed;
    top: 10%;
    right: 48%;
}
/* Button that opens all the stuff */
.open-button {
  border-radius: 50%;
  position: fixed;
  top: 10%;
  right: 21%;
  height: 50px;
  width: 50px;
}
.info-button{
  border-radius: 50%;
  position: fixed;
  top: 10%;
  left: 21%;
  height: 50px;
  width: 50px;
}
.tick-button{
  border-radius: 50%;
  position: fixed;
  bottom: 15%;
  left: 35%;
  height: 50px;
  width: 50px;
}
.sick-button{
  border-radius: 50%;
  position: fixed;
  bottom: 15%;
  left: 50%;
  height: 50px;
  width: 50px;
}
.login-button{
  border-radius: 50%;
  position: fixed;
  bottom: 15%;
  left: 65%;
  height: 50px;
  width: 50px;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
p {
    color: grey;
    max-width: 40%;
}
.dropdown-content{
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
}