body { margin: 0; 
    padding: 0;
    background-color: rgb(43, 43, 43);
 }
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
   
    
}
#searchField {
    height: 3%;
    width: 10%;
    position: fixed;
    top: 7%;
    right: 45%;
}
#searchButton {
    color: black;
    height: 2.5%;
    width: 4%;
    position: fixed;
    top: 10%;
    right: 48%;
}
/* Button that opens all the stuff */
.open-button {
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  top: 10%;
  right: 3%;
  height: 50px;
  width: 50px;
}
.info-button{
  border-radius: 50%;
  background-color: white;
  border: 5px solid black;
  position: fixed;
  top: 10%;
  left: 3%;
  height: 50px;
  width: 50px;
}
.tick-button{
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  bottom: 10%;
  left:35%;
  height: 50px;
  width: 50px;
}
.sick-button{
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  bottom: 10%;
  left: 45%;
  height: 50px;
  width: 50px;
}
.login-button{
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  bottom: 10%;
  left: 55%;
  height: 50px;
  width: 50px;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
p {
    color: grey;
    max-width: 40%;
}
.dropdown-content{
  
  border: 100px outset rgba(43, 43, 43, 0.3);
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  top: 35%;
  left: 35%;
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0; 
    padding: 0;
    background-color: rgb(43, 43, 43);
  }
  #map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
.container{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.open-button {
  border-radius: 50%;
  position: fixed;
  top: 10%;
  right: 5%;
  height: 50px;
  width: 50px;
}
.info-button{
  border-radius: 50%;
  position: fixed;
  top: 10%;
  left: 5%;
  height: 50px;
  width: 50px;
}
.tick-button{
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  left: 15%;
  height: 50px;
  width: 50px;
}
.sick-button{
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  left: 40%;
  height: 50px;
  width: 50px;
}
.login-button{
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  left: 65%;
  height: 50px;
  width: 50px;
}
.dropdown-content{
  
  border: 100px outset rgba(43, 43, 43, 0.3);
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  top: 25%;
  left:0%;
}
}